/**
  When adding fonts here, make sure to add them using a base64 data uri, otherwise
  fonts loading are delayed, and text may get displayed incorrectly.
*/

@font-face {
	font-family: 'Roboto';
	src: url(Roboto-Light.ttf) format('truetype');
	font-weight: 300;
}

@font-face {
	font-family: 'Roboto';
	src: url(Roboto-Regular.ttf) format('truetype');
	font-weight: 400;
}

@font-face {
	font-family: 'Roboto';
	src: url(Roboto-Medium.ttf) format('truetype');
	font-weight: 500;
}

/* Workaround for uno issue https://github.com/unoplatform/uno/issues/693 */
body::after {
	font-family: 'Roboto';
	background: transparent;
	content: "";
	opacity: 0;
	font-weight: 300;
	pointer-events: none;
	position: absolute;
}

#uno-body::before {
	font-family: 'Roboto';
	background: transparent;
	content: "";
	opacity: 0;
	font-weight: 400;
	pointer-events: none;
	position: absolute;
}

#uno-body::after {
	font-family: 'Roboto';
	background: transparent;
	content: "";
	opacity: 0;
	font-weight: 500;
	pointer-events: none;
	position: absolute;
}