# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches:
      - main
      - release/**

  pull_request:
    types: [opened, synchronize, reopened]
    branches:
      - main
      - release/**

jobs:
  build_tool:
    strategy:
        matrix:
          include:
            - fontName: "Fluent"
              projectName: uno.fonts.fluent
            - fontName: "Roboto"
              projectName: uno.fonts.roboto

    name: Build
    runs-on: windows-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
      with:
        fetch-depth: 0

 
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: '7.0.100'

    - name: Setup GitVersion
      uses: gittools/actions/gitversion/setup@v0.9.9
      with:
        versionSpec: '5.10.3'

    - name: GitVersion
      id: gitversion
      uses: gittools/actions/gitversion/execute@v0.9.9
      with:
        useConfigFile: true
        configFilePath: build/gitversion.yml

    - name: Build ${{ matrix.fontName }} Font
      run: |
        cd nuget
        dotnet new classlib -f netstandard2.0 -o ${{ matrix.projectName }}
        cd ${{ matrix.projectName }}
        rm *.cs
        dotnet build -c Release
        cp bin\Release\netstandard2.0\${{ matrix.projectName }}.dll ../${{ matrix.fontName }}
    
    - name: Pack
      run: |
        $adjustedPackageVersion="${{ steps.gitversion.outputs.semVer }}".ToLower();
        build/nuget.exe pack nuget/${{ matrix.fontName }}/Uno.Fonts.${{ matrix.fontName }}.nuspec -Version $adjustedPackageVersion -OutputDirectory ./artifacts
        
    - name: Upload Artifacts
      uses: actions/upload-artifact@v2
      with:
        name: NuGet
        path: ./artifacts
        
  publish:
    name: Publish
    if: ${{ github.event_name == 'push' && (github.ref == 'refs/heads/main' || startsWith(github.ref, 'refs/heads/release/')) }}
    environment: NuGet
    runs-on: windows-latest
    needs:
      - build_tool
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Download Artifacts
        uses: actions/download-artifact@v2
        with:
          name: NuGet
          path: artifacts

      - name: Setup .NET SDK
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: '3.1.x'

      - name: Setup SignClient
        run: |
          dotnet tool install --tool-path build SignClient
      - name: SignClient
        shell: pwsh
        run: |
          build\SignClient sign -i artifacts\*.nupkg -c build\SignClient.json -r "${{ secrets.UNO_PLATFORM_CODESIGN_USERNAME }}" -s "${{ secrets.UNO_PLATFORM_CODESIGN_SECRET }}" -n "Uno.Check" -d "Uno.Check" -u "https://github.com/unoplatform/uno.check"
        
      - name: Upload Artifacts
        uses: actions/upload-artifact@v2
        with:
          name: NuGet-Signed
          path: ./artifacts

      - name: NuGet Push
        shell: pwsh
        run: |
          dotnet nuget push artifacts\*.nupkg -s https://api.nuget.org/v3/index.json -k ${{ secrets.NUGET_ORG_API_KEY }}        
